.Mentions-Legales{
    max-width: 66.67%; /* 2/3 exprimé en pourcentage */
    width: 100%;       /* Par défaut, utilise toute la largeur disponible */
    margin:auto;    /* Centrer horizontalement si nécessaire */
    text-align: center;
}
.Accordion{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
}

.Accordion p{
    margin: auto;
    text-align: left;
}
@media (max-width: 768px) {
    .MentionHr {
        width: 50vw; /* Ajustement dynamique en fonction de la largeur */
        margin: auto; /* Centre horizontalement la ligne */
    }

    .Accordion {
        margin: 15px auto; /* Ajustement des marges pour petits écrans */
        max-width: 95vw;    /* Réduction de la largeur maximale */
    }

}