.name{
    text-transform: uppercase;
    color:  white;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    background-color: white;  /* Choisissez la couleur que vous voulez */
}
.nav-link-custom{
    padding-right: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

  
.nav-link-custom.active {
    color: yellow;
}

.mb-3 {
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    .nav-link-custom{
        padding-right: 15px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
    }

    .offcanvas.offcanvas-end.show{
        height: 300px;
    }
}