.PorteFolio img{
  width: 100%; /* L'image occupera toute la largeur de son conteneur */
  height: auto; /* Garde les proportions de l'image */
}

.PorteFolio h1,p{
  text-align: center;
}

.portfolioCard {
  height: 180px !important;
}

.card-footer{
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {

  .PorteFolio hr{
    max-width: 200px; /* Définit la largeur maximale */
   }

   .container {
    max-width: none  !important;
  }
  
   
  }
    