.Services{
  text-align: center; /* Centre le texte */
}
.Services hr{
  max-width: 500px; /* Définit la largeur maximale */
  width: 100%; /* Permet à l'élément de s'adapter à l'espace disponible */
  margin: 0 auto;
  border: none; /* Retire la bordure par défaut */
  height: 5px; /* Épaisseur de la ligne */
  background-color: #062a61; /* Couleur de la ligne */
  margin-top: 20px;
  margin-bottom: 20px;
}
.Services img{
  width: 100%; /* L'image occupera toute la largeur de son conteneur */
  height: auto; /* Garde les proportions de l'image */
}

.cards-container {
  height: 100%;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  margin: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
  height: 350px;

}

.Card {
  display: flex;
  justify-content: center; /* Centrer les cartes horizontalement */
  align-items: center; /* Centrer verticalement (si nécessaire) */
  width: 20rem; /* Dimension fixe */
  height: auto; /* Ajustez en fonction de vos besoins */
  margin: 10px; /* Espacement entre les cartes */
  box-sizing: border-box; /* Inclure les bordures et le padding dans les dimensions */
}

.Card img {
  width:50px; 
  height: 50px;
  margin-bottom: 25px; /* Espacement entre l'image et les autres éléments */
  object-fit: cover; /* Coupe ou ajuste l'image selon les dimensions */
}

.CardTitle {
  font-size: 1.5rem; /* Assurez une taille uniforme */
  text-align: center;   
}

.CardText {
  font-size: 1rem; /* Uniformiser la taille du texte */
  text-align: center; /* Optionnel */
}

@media (max-width: 768px) {
  .cards-container {
      flex-direction: column; /* Les cartes s'empilent verticalement */
      align-items: center; /* Centre les cartes dans le conteneur */
      text-align: center; /* Centre le texte */
      margin: 0; /* Supprime les marges du conteneur */

  }

  

  .Card {
      width: 100%; /* Les cartes occupent toute la largeur disponible */
      margin: 0; /* Supprime les marges entre les cartes */
      margin-bottom: 10px; /* Ajoute un espacement en bas entre les cartes */
      box-sizing: border-box; /* Assure que les bordures et le padding sont inclus dans la largeur */

  }

 
}
